<div class="profile-main-container-wrap">
  <div 
    class="player-turn-highlight" 
    [ngStyle]="{ visibility: playerStats?.isActive ? 'visible' : 'hidden' }">
  </div>
  <div class="profile-container">
    <img src="assets/img/archer.png" alt="Imagem de perfil do jogador" [ngStyle]="{ 'background': 'rgb(' + playerStats!.randomColors.r + ', ' + playerStats!.randomColors.g + ', ' + playerStats!.randomColors.b + ')' }">    <div class="profile-texts">
      <span class="player-name">{{ playerName }}</span>
      <div class="time-container">
        <div class="time-container-dynamic" [ngStyle]="{ width: getPercentageWidth(playerStats?.secondsMs) + '%' }">
          &nbsp;
          <span class="time-remaining">{{ getFormattedTime(playerStats?.secondsMs) }}</span>
        </div>
        
      </div>
    </div>
  </div>
</div>