$border-default: 1px black solid;

.game-left-container {
  border: $border-default;
  padding: 5px;
  margin: 10px;
  background-color: rgb(239, 239, 239);
}

.profile-main-container {
  display: flex;
  flex-direction: column;
}

.profile-main-container-wrap {
  display: flex;
  align-items: center;
}

.player-turn-highlight {
  height: 80px;
  width: 5px;
  background-color: red;
}

.profile-container {
  border: 1px solid black;
  margin: 5px;
  margin-left: 5px;
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  
  img {
    padding: 5px;
    margin: 5px;
    margin-right: 0;
    border: $border-default;
    background-color: lightblue;
  }
}

.profile-texts {
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-name {
  width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.time-container {
  border: $border-default;
  margin: 5px 0 5px 0;
  width: 150px;
  display: flex;
  justify-content: center;
  background-color: red;
}