@use "sass:color";

$dash-size: 5px;
$theme-color: orange;
$fill-color: beige;

@mixin main-container($name, $wid, $just-cont) {
  .main-container-#{$name}{
    width: #{$wid}px;
    min-width: #{$wid}px;
    display: flex;
    justify-content: $just-cont;
    align-items: center;
    user-select: none;
    //background-color: green;
    //border: 1px solid black;
    //border-radius: 10px;
    //width: 1000px;

    //padding: 60px;
    //max-width: 650px;
    background: color.adjust($theme-color, $lightness: 20%);
    border: $dash-size dashed $theme-color;
    box-shadow: 0 0 0 ($dash-size / 2) color.adjust($theme-color, $lightness: -20%),
              0 0 0 ($dash-size * 2.5) #fff,
              inset 0 0 0 ($dash-size / 2) color.adjust($theme-color, $lightness: -20%),
              0 $dash-size ($dash-size * 2) ($dash-size * 3) rgba(0,0,0,0.5),
              inset 0 0 0 ($dash-size * 1.2) #fff,
              inset 0 0 100vw 100vw $fill-color;
  }
}

@include main-container("home-page", 1200, center);
@include main-container("game-page", 1100, space-evenly);

