<div class="main-container">
  <div class="authentication-container">
    <div>
      Login:
    </div>
    <div>
      Play as guest:
    </div>
  </div>
  <div class="main-image-container">
    <img src="assets/img/image.png">
  </div>
  <div class="main-right-side-container-principal">
    <div class="main-right-side-container">
      <h1 class="main-title">Welcome to </h1>
      <img src="assets/img/logo.png" alt="">
      <button>
        START GAME
      </button>
    </div>
  </div>
</div>