<div class="main-container">
  <div class="authentication-container">
    <div class="login-container">
      <span>Login:</span>
      <div>
        <input type="text">
      </div>
      <div>
        <button>ok</button>
        <button>register</button>
      </div>
    </div>
    <div>
      <span>Play as a Guest:</span>
      <div class="guest-input-container">
        <input type="text">
        <button>
          <img src="assets/img/dice.png" alt="">
        </button>
      </div>
      
      <button>ok</button>
    </div>
  </div>
  <div class="separator">&nbsp;</div>
  <div class="main-image-container">
    <img src="assets/img/image.png">
  </div>
  <div class="main-right-side-container-principal">
    <div class="main-right-side-container">
      <h1 class="main-title">Welcome to </h1>
      <img src="assets/img/logo.png" alt="">
      <button>
        START GAME
      </button>
    </div>
  </div>
</div>