<div class="main-container-game-page">
  <div class="game-left-container">


    <div class="profile-main-container">

      <ng-container *ngFor="let player of players">
        <player-card 
          [playerName]="player.playerName" 
          [playerStats]="player.playerStats">
        </player-card>
      </ng-container>
  
    </div>

  </div>
  <div class="game-right-container">
    <div class="image-background-game">
      <img class="landscape-image" src="assets/img/landscape.png" alt="" draggable="false">
      <game-target
        *ngIf="target.showTarget && targetStyleString"
        [targetSize]="target.targetSize"
        [targetStyleString]="targetStyleString"
      ></game-target>
    </div>
  </div>
</div>
