$dash-size: 5px;
$theme-color: orange;
$fill-color: beige;

.main-container {
  // height: 90vh;
  width: 1200px;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  //background-color: green;
  //border: 1px solid black;
  //border-radius: 10px;
  //width: 1000px;

  //padding: 60px;
	//max-width: 650px;
	background: lighten($theme-color, 20%);
	border: $dash-size dashed $theme-color;
	box-shadow: 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
		        0 0 0 ($dash-size * 2.5) #fff,
		        inset 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
		        0 $dash-size ($dash-size * 2) ($dash-size * 3) rgba(0,0,0,0.5),
		        inset 0 0 0 ($dash-size * 1.2) #fff,
		        inset 0 0 100vw 100vw $fill-color;
}

.authentication-container {
  width: 650px;
  display: flex;
  flex-direction: column;
  margin: 20px;

  span {
    font-size: 12px;
    font-weight: 600;
  }

  input {
    margin-bottom: 2px;
    height: 25px;
    padding: 3px;
    width: 100%;
  }

  button {
    padding: 3px 5px 3px 5px;
    margin-right: 3px;
    cursor: pointer;
  }
}

.login-container {
  margin-bottom: 10px;
}

.guest-input-container {
  display: flex;
  align-items: flex-start;
  
  input {
    margin-right: 2px;
  }

  button {
    //background:url(/assets/img/dice.png) no-repeat;
    border: 1px solid #6c6c6c;
    background-color: #f0f0f0   ;
    width:30px;
    height:25px;

    img {
      width:18px;
      height:18px;
    }

    &:active {
      background-color: white; 
      border: 1px solid #484848;
    }
  }
}


.separator {
  width: 1px;
  top: 0px;
  bottom: 50%;
  left: 0px; 
  background-color: black;
  overflow: hidden;
  height: 30em;
}

.main-image-container {
  padding: 3%;
  padding-right: 0;
  flex-grow: 1;
  //border-left: 1px solid black;
  
  //background-color: blue;
}

.main-right-side-container-principal {
  //background-color: green;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-right-side-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  h2 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
  }
  img {
    height: 80px;
    margin-bottom: 20px;
  }
  button {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    
    &:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
    
    &:active {
      transform: scale(0.95);
    }
  }
}


