<div class="main-container-game-page">
  <div class="game-left-container">


    <div class="profile-main-container">

      <ng-container *ngFor="let player of players">
        <!-- refatorar essa criatura -->
        <player-card 
          [playerName]="player.playerName" 
          [playerStats]="player.playerStats"
          [isWatching]="player.isWatching"
          [isReady]="player.isReady"
          [place]="player.place"
          [connectionId]="player.connectionId"
          [myId]="myId"
          [hasGameStarted]="player.hasGameStarted"
          (onButtonClickGetReadyForPlay)="handleButtonClickGetReadyForPlay()"
        >
        </player-card>
      </ng-container>
    </div>

  </div>
  <div class="game-right-container">
    <div class="image-background-game">
      <img class="landscape-image" src="assets/img/landscape.png" alt="" draggable="false">
      <game-target
        *ngIf="targetSize && targetStyleString"
        [targetSize]="targetSize"
        [targetStyleString]="targetStyleString"
        (handleButtonClickListener)="handleButtonClickListener()"
        [myId]="myId"
        [players]="players"
      ></game-target>
    </div>
  </div>
</div>
