<div class="main-container-home-page">
  <div class="authentication-container">
    <!-- Havia o plano de fazer uma rotina de login, mas por falta de tempo, foi descartado. Fica como melhoria. -->
    <!-- <div class="login-container">
      <span>Login:</span>
      <div>
        <input type="text">
      </div>
      <span>Password:</span>
      <div>
        <input type="text">
      </div>
      <div>
        <button>ok</button>
        <button>register</button>
      </div>
      <br>
    </div> -->
    <div>
      <span>Play as a Guest:</span>
      <div class="guest-input-container">
        <input type="text" [value]="guestNameValue" (input)="onInputChange($event)">
        <button (click)="onButtonClick()">
          <img src="assets/img/dice.png" alt="">
        </button>
      </div>
      <div class="server-status-container">
        <span>Alpha Version Server: </span>
        <span>{{ totalPlayersOnline === null ? '🔴' : totalPlayersOnline <= 5 ? '🟢' : '🕒' }} players online: {{ totalPlayersOnline || '?' }}/5</span>
        <span>We will bring more servers in the future, stay tuned.</span>
      </div>
    </div>
  </div>
  <div class="separator">&nbsp;</div>
  <div class="main-image-container">
    <img src="assets/img/image.png">
  </div>
  <div class="main-right-side-container-principal">
    <div class="main-right-side-container">
      <h2 class="main-title">Welcome to </h2>
      <img src="assets/img/logo.png" alt="">
      <button [disabled]="guestNameValue === '' || totalPlayersOnline && totalPlayersOnline > 5 ? true : null">
        START GAME
      </button>
      <span *ngIf="totalPlayersOnline && totalPlayersOnline > 5">Sorry, the server limit has been reached.</span>
    </div>
  </div>
</div>
