@use "../main-container-maxin";

.authentication-container {
  width: 650px;
  display: flex;
  flex-direction: column;
  margin: 20px;

  span {
    font-size: 12px;
    font-weight: 600;
  }

  input {
    margin-bottom: 2px;
    height: 25px;
    padding: 3px;
    width: 100%;
  }

  button {
    padding: 3px 5px 3px 5px;
    margin-right: 3px;
    cursor: pointer;
  }
}

.login-container {
  margin-bottom: 10px;
}

.guest-input-container {
  display: flex;
  align-items: flex-start;
  
  input {
    margin-right: 2px;
  }

  button {
    //background:url(/assets/img/dice.png) no-repeat;
    border: 1px solid #6c6c6c;
    background-color: #f0f0f0   ;
    width:30px;
    height:25px;

    img {
      width:18px;
      height:18px;
    }

    &:active {
      background-color: white; 
      border: 1px solid #484848;
    }
  }
}

.server-status-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;

  :nth-child(1){
    text-decoration: underline;
    font-size: 15px;
  }

  :nth-child(3){
    margin-top: 10px;
    color: orangered;
    font-size: 14px;
  }
}

.separator {
  width: 1px;
  top: 0px;
  bottom: 50%;
  left: 0px; 
  background-color: black;
  overflow: hidden;
  height: 30em;
}

.main-image-container {
  padding: 3%;
  padding-right: 0;
  flex-grow: 1;
  //border-left: 1px solid black;
  
  //background-color: blue;
}

.main-right-side-container-principal {
  //background-color: green;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-right-side-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  h2 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
  }
  img {
    height: 80px;
    margin-bottom: 20px;
  }
  button {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    &[disabled] {
      background-color: #d3d3d3;
      box-shadow: 0px 0px 14px -7px #d3d3d3;
      background-image: linear-gradient(45deg, #8b8b8b 0%, #d3d3d3  51%, #8b8b8b  100%);

      &:hover {
        background-position: left center;
      }

      &:active {
        transform: none;
      }
    }
    
    &:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
    
    &:active {
      transform: scale(0.95);
    }
  }

  span {
    color: orangered;
    margin-top: 10px;
  }
}


