<div class="main-container-home-page">
  <div class="authentication-container">
    <!-- Havia o plano de fazer uma rotina de login, mas por falta de tempo, foi descartado. Fica como melhoria. -->
    <!-- <div class="login-container">
      <span>Login:</span>
      <div>
        <input type="text">
      </div>
      <span>Password:</span>
      <div>
        <input type="text">
      </div>
      <div>
        <button>ok</button>
        <button>register</button>
      </div>
      <br>
    </div> -->
    <div>
      <span>Play as a Guest:</span>
      <div class="guest-input-container">
        <input type="text">
        <button>
          <img src="assets/img/dice.png" alt="">
        </button>
      </div>
    </div>
  </div>
  <div class="separator">&nbsp;</div>
  <div class="main-image-container">
    <img src="assets/img/image.png">
  </div>
  <div class="main-right-side-container-principal">
    <div class="main-right-side-container">
      <h2 class="main-title">Welcome to </h2>
      <img src="assets/img/logo.png" alt="">
      <button>
        START GAME
      </button>
    </div>
  </div>
</div>
