/*
* 
* min: 50px
* max: 150px
*
*/

.target-image {
  background-color: yellow;
  border-radius: 100%;
  border: 1px solid black;

  position: absolute;
  // right: 0%;
  // top: 0%;

  //left: 0%;
  // bottom: 0%;

  //visibility: hidden;
}